

#ResumeContainer
{
	position: relative;
	background-color: white;
	width: 80%;
	z-index: 3;
	margin: auto;
	top:8%;
	padding-top: 20px;
	padding-left: 20px;
}

progress
{  
	position: relative;
    background-color: gray; 
    border: 0;  
    height: 0.5em;  
    border-radius: 1em;  
    width: 100%;
    top:2px;
}

progress::-webkit-progress-bar {  
    background-color: gray;   
    height: 0.5em;  
    border-radius: 1em; 
}  

progress::-webkit-progress-value {  
    background-color: black;   
    border: 0;  
    height: 0.5em;  
    border-radius: 1em; 
     
}  


progress::-moz-progress-bar {  
    background-color: black;
    border: 0;  
    height: 0.8em;  
    border-radius: 1em;   
}  


h1,h4,h2,h3
{
	display: inline;
	font-family: 'Lato', sans-serif;
	color:black;
}

div h4
{
	font-weight: 300;
}

.headers
{
	font-weight: 700;
	color:rgb(47,79,79);
}

.subheaders
{
	color: black;
	font-weight: 400;
}

.row
{
	width: 100%;
}

.skills
{
	border-right: 1px solid gray;

}

.col-md-6, .col-md-9
{
	border-left: 1px solid gray;
}

.date
{
	color:gray;
	font-family: 'Lato', sans-serif;
}

h5,li
{
	font-family: 'Lato', sans-serif;
}

img
{
	width: 80%;
	height: 80%;
}

.border-right
{
	border-right: 1px solid gray;
}

.noborder
{
	border:none;
}

.interests
{
	text-align: center;
}

.circle
{
	/*border-radius: 100%;*/
}

#tilde
{
	width: 50%;
	height: 50%;
}