#backgroun {
	background: rgba(31,31,31,0.85) no-repeat ;
	width: 100%;
	height: 100%;
	position: fixed;
}

#ResumeContainer
{
	position: relative;
	background: rgb(255,255,255) no-repeat ;
	width: 70%;
	height: 100%;
	z-index: 1;
	margin: auto;
	top:8%;
	border-left: 1px solid #1F1F1F ;
	border-right: 1px solid #1F1F1F ;
}

.navigation 
{
	background-color: rgba(31,31,31,1);
	border-radius: 0px;
	width:100% ;
	height:8%;
	z-index: 10;
	position: fixed;
}